siderbar.sidebar
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`) Dashboard 
      li
        a(href=`${prefixAdmin}/product`) Product 
      li
        a(href=`${prefixAdmin}/category`) Category

